html{
    height: 100%;
}

*,*::before , *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg , #eb92be , #ffef78 , #63c9b4);
    display: flex;
    height: inherit;
    justify-content: center;
}

.wrapper {
    padding-right: 20px;
    background-color: #fffa;
    border-radius: 16px;
    -webkit-backdrop-filter: blur(4px);
    flex-basis: 400px;
    height: 540px;
    padding-left: 20px;
    padding-top: 35px;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

.screen {
    margin-right: 20px;
    background-color: rgba(225, 225, 225, 0.75);
    color: black;
    font-size: 30px;
    padding: 20px;
    border: #63c9b4;
    border-width: 2px;
    text-align: right;
    width: 380px;
    border-radius: 16px;
    overflow: auto;
}

.calculator-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calculator-row > button{
    box-shadow: 1px 1px 10px rgb(103, 102, 102);
    background: white;
    font-family: monospace;
    font-size: 24px;
    flex-basis: 20%;
    border-radius: 16px;
    border: 0;
    border-style: solid;
    height: 65px;
}