body , html {
    margin: 0;
    padding: 0;
}

body {
    background: url(./Photos/background-website.JPG) repeat center center fixed;
    background-size: cover;
    display: grid;
    place-items: center;
}

.logo-site {
    border-radius: 100px;
}

.photo {
    margin-top: 2rem;
    text-align: center;
}

.photo img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: white;
    border-width: 3px;
    border-style: solid;
    box-shadow: 1px 1px 20px white;
}
.name{
    text-align: center;
}

.name > h1{
    margin-top: 30px;
    display: inline-block;
    font-weight: bold;
    background-color: #000a;
    box-shadow: 1px 1px 19px black;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    
}

.link-bio {
    width: 600px;
    font-size: 20px;
    text-align: center;
    padding-right: 40px;
    
}

.link-bio  > li {
    background-color: #fffa;
    border-radius: 100px;
    color: black;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    list-style: none;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

a > img {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: -10px;
}

a{
    color: black;
    text-decoration: none;
}

.link-bio :hover {
    box-shadow: 1px 1px 20px wheat;

}

.link-bio > li :hover {
    box-shadow: none;
}

.writeby {
    text-align: center;
    color: white;
    font-size: 13px;
    border-radius: 100px;
    margin-top: 200px;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 5px;
}
.writeby > span{
    color: rgb(217, 255, 0);
    font-size: 15px;
}

.countdown{
    text-align: center;
    color: #fff;
}

.countdown{
    text-align: center;
    color: #fff;
}




.countdown > p{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.countdown > h1{
    text-align: center;
    color: #fff;
    
}

.span-text{
    color: rgb(217, 255, 0);
    font-size: 40px;
}





.launch-time{
    
    text-align: center;
    
    
}

.launch-time div{
    color: #fff;
    text-align: center;
    flex-basis:100px;
    margin-top: -54px;
}

.launch-time > div > p{
    padding-bottom: 5px;
    font-size: 80px;
    margin-bottom: -14px;
}

.launch-time > div > span{
    text-align: center;
}



.duck{
    justify-content: center;
    display: flex;
    height: 150px;
}

.countdown > img{
    height: 50px;
}

.writefor {
    text-align: center;
    color: white;
    font-size: 13px;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    
}

.writefor > span{
    color: rgb(217, 255, 0);;
    font-size: 20px;
}

.Login-button > button,
.register > button {
    display: inline-block;
    background-color: #fff;
    border: none;
    border-radius: 30px; 
    padding: 10px 20px;
    margin: 5px; 
    
}

.Login-button > button:hover{
    box-shadow: 1px 1px 20px wheat;
}

.Login-button, .register {
    margin: 20px; /* ปรับตามต้องการ */
    margin-left: 1500px;
}

